.DS_Store

.venv

__pycache__

run.sh

data/open-schematics/*
data/synthetic/*
data/PCB-DSLR/*
data/real_images/*
data/synthetic_split/*
data/cyclegan_data/*

!data/open-schematics/.gitkeep
!data/synthetic/.gitkeep
!data/PCB-DSLR/.gitkeep
!data/real_images/.gitkeep
!data/synthetic_split/.gitkeep
!data/cyclegan_data/.gitkeep

models/segmentor/best/*
models/segmentor/checkpoints/*
models/segmentor/training_curves/*
models/cyclegan/checkpoints/*

!models/segmentor/best/.gitkeep
!models/segmentor/checkpoints/.gitkeep
!models/segmentor/training_curves/.gitkeep
!models/cyclegan/checkpoints/.gitkeep

outputs/cyclegan/images/*

models/spresgan/best/*
models/spresgan/checkpoints/*
models/spresgan/training_curves/*

!models/spresgan/best/.gitkeep
!models/spresgan/checkpoints/.gitkeep
!models/spresgan/training_curves/.gitkeep

!outputs/cyclegan/images/.gitkeep

outputs/spresgan/*
!outputs/spresgan/.gitkeep

src/data_processing/process.sh

pytorch-CycleGAN-and-pix2pix/

src/inference/inference_cyclegan.sh


!models/cyclegan/checkpoints/30_net_D_A.pth
!models/cyclegan/checkpoints/30_net_D_B.pth
!models/cyclegan/checkpoints/30_net_G_A.pth
!models/cyclegan/checkpoints/30_net_G_B.pth

!models/segmentor/best/UNetSegmentor_bs16_lr0.0001_best.model

!models/spresgan/best/SPresGAN_bs2_lr0.0002_g_a_to_b_final.model